*
!**.py
!**.md
!**.yml
!requirements.txt
!**.config
!.gitignore
!jjrequirements.txt
!/moves/services/models/
!/moves/services/schemas/
!/moves/services/redis/
!/moves/services/


!tensorflow-models/
!/tensorflow-models/models/models.config
!/tensorflow-models/models/
!/tensorflow-models/models/moves
!/tensorflow-models/models/sub_moves_0
!/tensorflow-models/models/sub_moves_1
!/tensorflow-models/models/sub_moves_2

!/tensorflow-models/models/moves/1
!/tensorflow-models/models/sub_moves_0/1
!/tensorflow-models/models/sub_moves_1/1
!/tensorflow-models/models/sub_moves_2/1
!moves
