*
!**.py
!**.md
!**.yml
!.gitignore
!jjrequirements.txt

!/moves/services/models/
!/moves/services/schemas/
!/moves/services/redis/
!/moves/services/
!/moves/models/models.config
!/moves/models/
!moves
