model_config_list: {
  config {
    name:  "moves",
    base_path:  "/models/moves",
    model_platform: "tensorflow"
  },
  config {
    name:  "sub_moves_0",
    base_path:  "/models/sub_moves_0",
    model_platform: "tensorflow"
  },
  config {
    name:  "sub_moves_1",
    base_path:  "/models/sub_moves_1",
    model_platform: "tensorflow"
  },
  config {
    name:  "sub_moves_2",
    base_path:  "/models/sub_moves_2",
    model_platform: "tensorflow"
  }
}