model_config_list: {
  config: {
    name: "dataMoves",
    base_path: "/models/dataMoves",
    model_platform: "tensorflow"
  },
  config: {
    name: "model_1",
    base_path: "/models/1",
    model_platform: "tensorflow"
  },
  config: {
    name: "model_2",
    base_path: "/models/2",
    model_platform: "tensorflow"
  }
}
